.digit-Header {
    display: -webkit-box;
    padding: 10px;
    background-color: hsl(0,0%,85%);
}

.digit-Header-title {
    -webkit-box-flex: 1;
    margin: 0;
    padding: 0;
    text-align: center;
    color: hsl(0,0%,50%);
    font-size: 2em;
    line-height: 1.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}




/* Light ------------------------------------ */

[data-montage-skin="light"] .digit-Header {
    background-image: -webkit-linear-gradient(top, hsl(0,0%,96%), hsl(0,0%,92%) );
}

[data-montage-skin="light"] .digit-Header-title {
    color: hsl(0,0%,60%);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.7);
}



/* Dark ------------------------------------ */

[data-montage-skin="dark"] .digit-Header {
    background-image: -webkit-linear-gradient(top, hsl(0,0%,30%), hsl(0,0%,20%) );
}

[data-montage-skin="dark"] .digit-Header-title {
    color: hsl(0,0%,50%);
    text-shadow: 0 1px 0 hsla(0,0%,0%,.3);
}
