.digit-Checkbox {
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
    border-radius: .25em;
    border: 1px solid;
    fill: #fff;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.digit-Checkbox:after {
    position: absolute;
    content: "";
    top: -16px;
    left: -16px;
    bottom: -16px;
    right: -16px;
}


/* States --------------------- */

.digit-Checkbox.montage--active,
.digit-Checkbox.montage-Checkbox--checked {
    background-color: currentColor;
}

.digit-Checkbox.montage-Checkbox--disabled {
    opacity: .5;
    border-style: dashed;
    pointer-events: none;
}


/* Icon --------------------- */

.digit-Checkbox-icon {
    fill: transparent;
}

.digit-Checkbox.montage-Checkbox--checked .digit-Checkbox-icon {
    fill: inherit;
}

.digit-Checkbox.montage--active .digit-Checkbox-icon {
    fill: transparent;
}



/* Wireframe ---------------------------------------------------------- */

[data-montage-skin="wireframe"] .digit-Checkbox {
    fill: #4D4D4D;
    border-color: #b3b3b3;
    background-color: #f2f2f2;
}

[data-montage-skin="wireframe"] .digit-Checkbox.montage--active {
    background-color: #e5e5e5;
}



/* Light ---------------------------------------------------------- */

[data-montage-skin="light"] .digit-Checkbox {
    fill: hsla(0,0%,0%,.7);
    border-color: hsl(0,0%,80%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,96%), hsl(0,0%,92%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8), inset 0 -1px 1px hsla(0,0%,0%,.04), 0 1px 0 hsla(0,0%,100%,.6);
}

[data-montage-skin="light"] .digit-Checkbox.montage--active,
[data-montage-skin="light"] .digit-Checkbox.montage-Checkbox--checked {
    border-color: hsla(0,0%,70%,1);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,90%), hsl(0,0%,86%) );
    box-shadow: inset 0 1px 3px hsla(0,0%,0%,.2), 0 1px 0 hsla(0,0%,100%,.6);
}



/* Dark ---------------------------------------------------------- */

[data-montage-skin="dark"] .digit-Checkbox {
    fill: hsla(0,0%,100%,.5);
    border-color: hsl(0,0%,15%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,30%), hsl(0,0%,24%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.1), inset 0 -1px 1px hsla(0,0%,0%,.06), 0 1px 0 hsla(0,0%,100%,.1);
}

[data-montage-skin="dark"] .digit-Checkbox.montage--active,
[data-montage-skin="dark"] .digit-Checkbox.montage-Checkbox--checked {
    border-color: hsl(0,0%,15%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,20%), hsl(0,0%,16%) );
    box-shadow: inset 0 1px 3px hsla(0,0%,0%,.3), 0 1px 0 hsla(0,0%,100%,.1);
}
