.digit-Checkbox {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border-radius: .25em;
    vertical-align: middle;
    border: 1px solid;
    background-color: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.digit-Checkbox:after {
    position: absolute;
    content: "";
    top: -16px;
    left: -16px;
    bottom: -16px;
    right: -16px;
}

.digit-Checkbox.montage--active {
    background-color: hsla(0,0%,0%,.1);
}

.digit-Checkbox:focus {
    border-style: dashed;
}

.digit-Checkbox.montage-Checkbox--checked {
    background: currentColor url(check.svg) no-repeat center;
    background-size: 1.5em;
}

.digit-Checkbox.montage-Checkbox--disabled {
    opacity: .5;
    border-style: dashed;
    pointer-events: none;
}


/* Style for Skins ------------------------------------ */

[data-montage-skin] .digit-Checkbox {
    position: relative;
}

[data-montage-skin] .digit-Checkbox.montage-Checkbox--checked:before {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}


/* Light ------------------------------------ */

[data-montage-skin="light"] .digit-Checkbox.montage-Checkbox--checked:before {
    background: url(check-light.svg) no-repeat center;
    background-size: 1.5em;
}

[data-montage-skin="light"] .digit-Checkbox {
    border-color: hsl(0,0%,80%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,96%), hsl(0,0%,92%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8), inset 0 -1px 1px hsla(0,0%,0%,.04), 0 1px 0 hsla(0,0%,100%,.6);
}

[data-montage-skin="light"] .digit-Checkbox.montage--active,
[data-montage-skin="light"] .digit-Checkbox.montage-Checkbox--checked {
    border-color: hsla(0,0%,70%,1);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,90%), hsl(0,0%,86%) );
    box-shadow: inset 0 1px 3px hsla(0,0%,0%,.2), 0 1px 0 hsla(0,0%,100%,.6);
}


/* Dark ------------------------------------ */

[data-montage-skin="dark"] .digit-Checkbox.montage-Checkbox--checked:before {
    background: url(check-dark.svg) no-repeat center;
    background-size: 1.5em;
}

[data-montage-skin="dark"] .digit-Checkbox {
    border-color: hsl(0,0%,15%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,30%), hsl(0,0%,24%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.1), inset 0 -1px 1px hsla(0,0%,0%,.06), 0 1px 0 hsla(0,0%,100%,.1);
}

[data-montage-skin="dark"] .digit-Checkbox.montage--active,
[data-montage-skin="dark"] .digit-Checkbox.montage-Checkbox--checked {
    border-color: hsl(0,0%,15%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,20%), hsl(0,0%,16%) );
    box-shadow: inset 0 1px 3px hsla(0,0%,0%,.3), 0 1px 0 hsla(0,0%,100%,.1);
}
