.montage-Progress {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 10px;
    border-radius: 3px;
    border: 1px solid #b3b3b3;
    background-color: #d9d9d9;
}

.montage-Progress > .montage-Progress-bar {
    position: absolute;
    height: inherit;
    border-radius: 2px;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    -webkit-transition: width .3s cubic-bezier(.25,.1,.3,.9);
       -moz-transition: width .3s cubic-bezier(.25,.1,.3,.9);
        -ms-transition: width .3s cubic-bezier(.25,.1,.3,.9);
         -o-transition: width .3s cubic-bezier(.25,.1,.3,.9);
            transition: width .3s cubic-bezier(.25,.1,.3,.9);
}


/* Style for Touch */
.montage-Progress {
    font-size: 16px;
}



/* Light ------------------------------------ */

[data-montage-skin="light"] .montage-Progress {
    border-color: hsla(0,0%,70%,1);
    background: hsl(0,0%,86%);
    box-shadow: inset 0 1px 2px hsla(0,0%,0%,.1), 0 1px 0 hsla(0,0%,100%,.6);
}

[data-montage-skin="light"] .montage-Progress-bar {
    background-image: -webkit-linear-gradient(top, hsl(0,0%,98%), hsl(0,0%,86%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,1), 0 2px 3px hsla(0,0%,0%,.25);
}


/* Dark ------------------------------------ */

[data-montage-skin="dark"] .montage-Progress {
    border-color: hsl(0,0%,15%);
    background: hsl(0,0%,22%);
    box-shadow: inset 0 1px 2px hsla(0,0%,0%,.25), 0 1px 0 hsla(0,0%,100%,.1);
}

[data-montage-skin="dark"] .montage-Progress-bar {
    background-image: -webkit-linear-gradient(top, hsl(0,0%,36%), hsl(0,0%,26%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.1), 0 2px 3px hsla(0,0%,0%,.35);
}
