.digit-Select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 2.5em;
    padding: 0 2em 0 1em;
    border-radius: 1.5em .5em .5em 1.5em;
    font-size: 100%; /* Override UA style. */
    color: inherit;
    border: 1px solid;
    background: transparent url(select.svg) no-repeat right center;
    background-size: .875em;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}


/* States --------------------- */

.digit-Select.montage--active {
    background-color: hsla(0,0%,0%,.06);
}

.digit-Select:focus {
    box-shadow: inset 0 0 0 1px;
}

.digit-Select:disabled {
    opacity: .5;
    border-style: dashed;
    pointer-events: none;
}



/* Wireframe ---------------------------------------------------------- */

[data-montage-skin="wireframe"] .digit-Select {
    color: #4D4D4D;
    border-color: #b3b3b3;
    background-color: #f2f2f2;
}

[data-montage-skin="wireframe"] .digit-Select.montage--active {
    background-color: #e5e5e5;
}

[data-montage-skin="wireframe"] .digit-Select:focus {
    border-color: #4D4D4D;
    box-shadow: none;
}



/* Light ---------------------------------------------------------- */

[data-montage-skin="light"] .digit-Select {
    color: hsla(0,0%,0%,.7);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.5);
    border-color: hsl(0,0%,80%);
    background: url(select.svg) no-repeat right center, -webkit-linear-gradient(top, hsl(0,0%,96%), hsl(0,0%,92%) );
    background-size: .875em, auto;
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8), inset 0 -1px 1px hsla(0,0%,0%,.04), 0 1px 0 hsla(0,0%,100%,.6);
}

[data-montage-skin="light"] .digit-Select:active {
    border-color: hsla(0,0%,70%,1);
    background-image: url(select.svg), -webkit-linear-gradient(top, hsl(0,0%,90%), hsl(0,0%,86%) );
    box-shadow: inset 0 1px 3px hsla(0,0%,0%,.2), 0 1px 0 hsla(0,0%,100%,.6);
}

[data-montage-skin="light"] .digit-Select:focus {
    border-color: hsl(0,0%,50%);
}



/* Dark ---------------------------------------------------------- */

[data-montage-skin="dark"] .digit-Select {
    color: hsla(0,0%,100%,.5);
    text-shadow: 0 1px 0 hsla(0,0%,0%,.2);
    border-color: hsl(0,0%,15%);
    background: url(select-dark.svg) no-repeat right center, -webkit-linear-gradient(top, hsl(0,0%,30%), hsl(0,0%,24%) );
    background-size: .875em, auto;
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.1), inset 0 -1px 1px hsla(0,0%,0%,.06), 0 1px 0 hsla(0,0%,100%,.1);
}

[data-montage-skin="dark"] .digit-Select:active {
    color: hsla(0,0%,100%,.3);
    border-color: hsl(0,0%,15%);
    background-image: url(select-dark.svg), -webkit-linear-gradient(top, hsl(0,0%,24%), hsl(0,0%,18%) );
    box-shadow: inset 0 1px 3px hsla(0,0%,0%,.3), 0 1px 0 hsla(0,0%,100%,.1);
}

[data-montage-skin="dark"] .digit-Select:focus {
    border-color: hsl(0,0%,50%);
}
