.digit-Select {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    box-sizing: border-box;
    font-size: 16px;
    height: 2.5em;
    padding: 0 2em 0 1em;
    border-radius: 1.5em .5em .5em 1.5em;
    border: 1px solid #b3b3b3;
    background: #f2f2f2 url(select.svg) no-repeat right center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.digit-Select:active {
    background-color: #e5e5e5;
}

.digit-Select:focus {
    border-color: #7f7f7f;
}

.digit-Select:disabled {
    opacity: .5;
    border-style: dashed;
    pointer-events: none;
}

/* Multiple Select ------------------------------ */

.digit-Select[multiple] {
    height: 5.5em;
    cursor: default;
    padding: 0 .5em;
}

.digit-Select[multiple],
.digit-Select[multiple]:hover,
.digit-Select[multiple]:active {
    background: #f2f2f2;
}


/* Light ------------------------------------ */

[data-montage-skin="light"] .digit-Select {
    color: hsla(0,0%,0%,.7);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.5);
    border-color: hsl(0,0%,80%);
    background: url(select.svg) no-repeat right center, -webkit-linear-gradient(top, hsl(0,0%,96%), hsl(0,0%,92%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8), inset 0 -1px 1px hsla(0,0%,0%,.04), 0 1px 0 hsla(0,0%,100%,.6);
}

[data-montage-skin="light"] .digit-Select:active {
    border-color: hsla(0,0%,70%,1);
    background: url(select.svg) no-repeat right center, -webkit-linear-gradient(top, hsl(0,0%,90%), hsl(0,0%,86%) );
    box-shadow: inset 0 1px 3px hsla(0,0%,0%,.2), 0 1px 0 hsla(0,0%,100%,.6);
}


/* Dark ------------------------------------ */

[data-montage-skin="dark"] .digit-Select {
    color: hsla(0,0%,100%,.5);
    text-shadow: 0 1px 0 hsla(0,0%,0%,.2);
    border-color: hsl(0,0%,15%);
    background: url(select-dark.svg) no-repeat right center, -webkit-linear-gradient(top, hsl(0,0%,30%), hsl(0,0%,24%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.1), inset 0 -1px 1px hsla(0,0%,0%,.06), 0 1px 0 hsla(0,0%,100%,.1);
}

[data-montage-skin="dark"] .digit-Select:active {
    color: hsla(0,0%,100%,.3);
    border-color: hsl(0,0%,15%);
    background: url(select-dark.svg) no-repeat right center, -webkit-linear-gradient(top, hsl(0,0%,24%), hsl(0,0%,18%) );
    box-shadow: inset 0 1px 3px hsla(0,0%,0%,.3), 0 1px 0 hsla(0,0%,100%,.1);
}
