@import url(http://fonts.googleapis.com/css?family=Inder);

body {
    margin: 0;
    color: #444;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: hsl(0,0%,40%);
}
a:hover { color: hsl(0,0%,20%); }
a:active { color: hsl(0,0%,60%); }


h1 {
    padding-right: 1em;
    margin: 50px 0 20px 0;
    text-align: center;
    line-height: 100px;
    color: hsl(274,54%,24%);
    font-size: 50px;
    font-weight: normal;
    font-family: 'Inder', sans-serif;
}

h1 .logo {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    margin: 0;
    background: url(../../assets/images/icon.svg) no-repeat center center;
    background-size: contain;
}

h1 span {
    display: inline-block;
}

.hl {
    color: hsl(200,100%,50%);
}

h2 {
    margin: 50px 0 20px 0;
    text-align: center;
    color: hsl(0,0%,70%);
    font-size: 2em;
    line-height: 1.5;
    font-weight: normal;
    font-family: 'Inder', sans-serif;
    border-bottom: 1px dashed hsla(0,0%,0%,.1);
}


table {
    width: 100%;
    margin: 0 auto 100px auto;
    padding: 0;
    list-style: none;
    border-spacing: 0;
    border-bottom: 1px solid hsla(0,0%,0%,.1);
}

th {
    color: hsl(0,0%,70%);
    font-family: 'Inder', sans-serif ;
    font-size: 1.2em;
    font-weight: normal;
    padding: 10px;
}

td {
    text-align: center;
    padding: 20px;
    border-top: 1px solid hsla(0,0%,0%,.06);
    border-left: 1px solid hsla(0,0%,0%,.06);
}

td:nth-child(4) {
    border-top: 1px solid hsla(0,0%,100%,.06);
}
td:nth-child(1) { background-color: hsla(0,0%,0%,.02); }
td:nth-child(3) { background-color: hsla(0,0%,0%,.02); }
td:nth-child(4) { background-color: hsla(0,0%,0%,.75); }

.layout td:nth-child(3) { background: hsl(0,0%,70%); }
.layout td:nth-child(4) { background: hsl(0,0%,40%); }

.modal td:nth-child(2) {
    background: hsla(0,0%,0%,.1);
}

.list td:nth-child(3)  {
    background: hsl(0,0%,70%);
}
.layout td:nth-child(4) {
    background: hsl(0,0%,40%);
}



/* Color debug --------------------- */

td:nth-child(2) { color: hsl(200, 100%, 50%); }

/*
td:nth-child(2) {
    position: relative;
    border-top: 1px solid hsla(0,0%,0%,.1);
}

td:nth-child(2):before { 
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: currentColor;
    opacity: .2;
}
*/