.digit-Text {
    
}



/* Wireframe ---------------------------------------------------------- */



/* Light ---------------------------------------------------------- */

[data-montage-skin="light"] .digit-Text {
    color: hsl(0,0%,40%);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.8);
}



/* Dark ---------------------------------------------------------- */

[data-montage-skin="dark"] .digit-Text {
    color: hsl(0,0%,80%);
}
