.digit-NumberField {
    outline: none;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    font-size: 0;
    width: auto;
    margin: 0;
    outline: none;
    -webkit-user-select: none;
}

.digit-NumberField > .digit-NumberField-input {
    display: inline-block;
    font-size: 16px;
    width: 3.6em;
    border-radius: 0;
    text-align: center;
}

.digit-NumberField > .digit-NumberField-plus,
.digit-NumberField > .digit-NumberField-minus {
    font-size: 16px;
    margin: 0;
    padding: 2px;
}

.digit-NumberField > .digit-NumberField-plus {
    border-width: 1px 1px 1px 0;
    border-radius: 0 2.5em 2.5em 0;
}

.digit-NumberField > .digit-NumberField-minus {
    border-width: 1px 0 1px 1px;
    border-radius: 2.5em 0 0 2.5em;
}
