.digit-NumberField {
    outline: none;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: auto;
    margin: 0 4px;
    vertical-align: middle;
    outline: none;
    -webkit-user-select: none;
}

.digit-NumberField > .digit-NumberField-input {
    float: left;
    width: 3.75em;
    border-radius: 0;
    text-align: center;
}

.digit-NumberField > .digit-NumberField-plus,
.digit-NumberField > .digit-NumberField-minus {
    float: left;
    margin: 0;
    padding: 2px;
    -webkit-transform: translate3d(0px,0px,0px);
    -moz-transform: translate3d(0px,0px,0px);
    -ms-transform: translate3d(0px,0px,0px);
    transform: translate3d(0,0,0);
    -webkit-font-smoothing: antialiased;
}

.digit-NumberField > .digit-NumberField-plus {
    border-width: 1px 1px 1px 0;
    border-radius: 0 2.5em 2.5em 0;
}

.digit-NumberField > .digit-NumberField-minus {
    border-width: 1px 0 1px 1px;
    border-radius: 2.5em 0 0 2.5em;
}
