@import url(http://fonts.googleapis.com/css?family=Inder);

body {
    margin: 0;
    color: #444;
    font-family: Avenir, sans-serif;
	color: cornflowerblue;
}

a {
    font-size: 14px;
    text-decoration: none;
    color: hsl(0,0%,40%);
}
a:hover { color: hsl(0,0%,60%); }
a:active { color: hsl(0,0%,20%); }


h1 {
    padding-right: 1em;
    margin: 50px 0 20px 0;
    text-align: center;
    line-height: 100px;
    color: hsl(274,54%,24%);
    font-size: 50px;
    font-weight: normal;
    font-family: 'Inder', sans-serif;
}

h1 .logo {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    margin: 0;
    background: url(../../assets/images/icon.svg) no-repeat center center;
    background-size: contain;
}

h1 span {
    display: inline-block;
}

.hl {
    color: hsl(200,100%,50%);
}

h2 {
    margin: 50px 0 20px 0;
    text-align: center;
    color: #aaa;
    font-size: 30px;
    line-height: 1.5;
    font-family: 'Inder', sans-serif;
    border-bottom: 1px dashed hsla(0,0%,0%,.1);
}

.container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 600px;
    padding: 40px;
}

/*
.container > * {
    margin: .375rem;
}
*/
