/**
 * 1. Needed when used with an <a> element
 */

.digit-Button {
    display: inline-block; /* 1 */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 2.5em;
    min-width: 2.5em; /* Don't shrink below the height. Makes a perfect circle. */
    margin: 0 2px;
    padding: .625em 1em;
    border-radius: 1.25em;
    vertical-align: middle;
    font-size: 100%; /* Override UA style. */
    color: inherit; /* 1 */
    border: 1px solid;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    text-decoration: none; /* 1 */
    -webkit-tap-highlight-color: transparent;
}


/* States --------------------- */

.digit-Button.montage--active {
    background-color: hsla(0,0%,0%,.06);
}

.digit-Button:focus {
    box-shadow: inset 0 0 0 1px;
}



/* Wireframe ---------------------------------------------------------- */

[data-montage-skin="wireframe"] .digit-Button {
    color: #4D4D4D;
    border-color: #b3b3b3;
    background-color: #f2f2f2;
}

[data-montage-skin="wireframe"] .digit-Button.montage--active {
    background-color: #e5e5e5;
}

[data-montage-skin="wireframe"] .digit-Button:focus {
    border-color: #4D4D4D;
    box-shadow: none;
}



/* Light ---------------------------------------------------------- */

[data-montage-skin="light"] .digit-Button {
    color: hsla(0,0%,0%,.7);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.5);
    border-color: hsl(0,0%,80%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,96%), hsl(0,0%,92%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8), inset 0 -1px 1px hsla(0,0%,0%,.04), 0 1px 0 hsla(0,0%,100%,.6);

    -webkit-transform: translate3d(0px,0px,0px);
    -moz-transform: translate3d(0px,0px,0px);
    -ms-transform: translate3d(0px,0px,0px);
    transform: translate3d(0px,0px,0px);
}

[data-montage-skin="light"] .digit-Button.montage--active {
    border-color: hsla(0,0%,70%,1);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,90%), hsl(0,0%,86%) );
    box-shadow: inset 0 1px 3px hsla(0,0%,0%,.2), 0 1px 0 hsla(0,0%,100%,.6);
}

[data-montage-skin="light"] .digit-Button:focus {
    border-color: hsl(0,0%,50%);
}



/* Dark ---------------------------------------------------------- */

[data-montage-skin="dark"] .digit-Button {
    color: hsla(0,0%,100%,.5);
    text-shadow: 0 1px 0 hsla(0,0%,0%,.2);
    border-color: hsl(0,0%,15%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,30%), hsl(0,0%,24%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.1), inset 0 -1px 1px hsla(0,0%,0%,.06), 0 1px 0 hsla(0,0%,100%,.1);
}

[data-montage-skin="dark"] .digit-Button.montage--active {
    color: hsla(0,0%,100%,.3);
    border-color: hsl(0,0%,15%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,24%), hsl(0,0%,18%) );
    box-shadow: inset 0 1px 3px hsla(0,0%,0%,.3), 0 1px 0 hsla(0,0%,100%,.1);
}

[data-montage-skin="dark"] .digit-Button:focus {
    border-color: hsl(0,0%,50%);
}



/* Variations ---------------------------------------------------------- */

.digit-Button--glass,
.digit-Button--glass.montage--active,
[data-montage-skin="wireframe"] .digit-Button--glass,
[data-montage-skin="wireframe"] .digit-Button--glass.montage--active,
[data-montage-skin="light"] .digit-Button--glass,
[data-montage-skin="light"] .digit-Button--glass.montage--active,
[data-montage-skin="dark"] .digit-Button--glass,
[data-montage-skin="dark"] .digit-Button--glass.montage--active {
    margin: 0;
    border-radius: 0;
    border: none;
    background: transparent;
    box-shadow: none;
}

[data-montage-skin="dark"] .digit-Button--glass.montage--active {
    color: hsla(0,0%,100%,.5);
}
