
/*  TODO: The Action Sheet should be hidden by default. See uncommented properties.
 *  It can be toggled with an montage-ActionSheet--show class.
 */

.digit-ActionSheet {
    //position: absolute;
    //bottom: 0;
    //left: 0;
    //right: 0;
    padding: 10px;
    background-color: hsla(0,0%,50%,.9);
    //-webkit-transition: -webkit-transform .24s cubic-bezier(0.38,0.04,0.81,0.29);
    //-webkit-transform: translate3d(0,100%,0);
}

.digit-ActionSheet--show {
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition-timing-function: cubic-bezier(0.23,0.21,0.00,1.00);
}

.digit-ActionSheet-title {
    margin: 0;
    padding: 10px;
    color: hsl(0,0%,85%);
    font-size: 16px;
}

.digit-Button.digit-ActionSheet-button {
    display: block;
    width: 100%;
    margin: 10px 0;
    font-weight: bold;
    border-color: hsl(0,0%,40%);
}

.digit-Button.digit-ActionSheet-button--cancel {
    margin-top: 20px;
    color: hsl(0,0%,90%);
    border-color: hsl(0,0%,40%);
    background-color: transparent;
}

.digit-Button.digit-ActionSheet-button--cancel:active {
    background-color: hsl(0,0%,40%);
}


/* Light ------------------------------------ */

[data-montage-skin="light"] .digit-ActionSheet {
    background: hsla(0,0%,90%,.9);
}

[data-montage-skin="light"] .digit-ActionSheet-title {
    color: hsl(0,0%,50%);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.4);
}

[data-montage-skin="light"] .digit-Button.digit-ActionSheet-button {
    border-color: hsl(0,0%,75%);
}

[data-montage-skin="light"] .digit-Button.digit-ActionSheet-button--cancel {
    background-image: none;
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.2), inset 0 -1px 1px hsla(0,0%,0%,.04), 0 1px 0 hsla(0,0%,100%,.6);
}


/* Dark ------------------------------------ */

[data-montage-skin="dark"] .digit-ActionSheet {
    background: hsla(0,0%,16%,.9);
}

[data-montage-skin="dark"] .digit-ActionSheet-title {
    color: hsl(0,0%,50%);
}

[data-montage-skin="dark"] .digit-Button.digit-ActionSheet-button {
    border-color: hsl(0,0%,10%);
}

[data-montage-skin="dark"] .digit-Button.digit-ActionSheet-button:active {
    background-image: -webkit-linear-gradient(top, hsl(0,0%,28%), hsl(0,0%,24%) );
}

[data-montage-skin="dark"] .digit-Button.digit-ActionSheet-button--cancel {
    background: hsl(0,0%,18%);
    border-color: hsl(0,0%,10%);
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.06), inset 0 -1px 1px hsla(0,0%,0%,.04), 0 1px 0 hsla(0,0%,100%,.1);
}

[data-montage-skin="dark"] .digit-Button.digit-ActionSheet-button--cancel:active {
    background-image: -webkit-linear-gradient(top, hsl(0,0%,16%), hsl(0,0%,14%) );
}
