@import url(http://fonts.googleapis.com/css?family=Inder);

/* Skins ----------------------------------------- */

html[data-montage-skin="flat"] {
    background: hsl(0,0%,86%);
}

html[data-montage-skin="light"] {
    background: hsl(0,0%,96%);
}

html[data-montage-skin="dark"] {
    background: hsl(0,0%,24%);
}


/* Global ----------------------------------------- */

body {
    margin: 0;
    padding: 0;
    color: #444;
    font: 13px/1.231 sans-serif;
}

a {
    font-size: 14px;
    text-decoration: none;
    color: hsl(0,0%,40%);
}
a:hover { color: hsl(0,0%,60%); }
a:active { color: hsl(0,0%,20%); }


h1 {
    margin: 80px 0;
    text-align: center;
    line-height: 60px;
    color: #aaa;
    font-size: 50px;
    font-weight: normal;
    font-family: 'Inder', sans-serif;
}

h1 .logo {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    margin: 0;
    background: url(../../../../overview/assets/images/icon.svg) no-repeat center center;
    background-size: contain;
}



/* Frame ----------------------------------------- */

.frame {
    position: relative;
    width: 600px;
    margin: 0 auto;
}


/* Group ----------------------------------------- */

.group {
    position: absolute;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
    -webkit-justify-content: space-between;
}

.group--buttons {
    -webkit-flex-direction: row;
    width: 540px;
    top: 0;
    left: 25px;
}

.group--inputs {
    height: 160px;
    top: 80px;
    left: 40px;
}

.group--indicators {
    top: 280px;
    left: 40px;
}

.group--media {
    height: 254px;
    top: 80px;
    left: 230px;
}

.group--misc {
    top: 374px;
    left: 290px;
}

.group--layout {
    display: block;
    width: 500px;
    height: 840px;
    top: 534px;
    left: 50px;
}

