.montage-InputRange {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 150px;
    height: 10px;
    border-radius: 3px;
    border: 1px solid #b3b3b3;
    background-color: #d9d9d9;
}

.montage-InputRange-thumb {
    position: absolute;
    font-size: inherit;
    box-sizing: border-box;
    margin: -14px 0 0 -1px;
    border-radius: 14px;
    width: 28px;
    height: 28px;
    left: 0;
    top: 50%;
    border: 1px solid #b3b3b3;
    background-color: #f2f2f2;
    cursor: pointer;
}

/* States */
.montage-InputRange-thumb:active {
    background-color: #e5e5e5;
}

.montage-InputRange-thumb:focus {
    border-color: #7f7f7f;
}

.montage-InputRange-thumb:before {
    content: "";
    position: absolute;
    top: -7px;
    left: -7px;
    right: -7px;
    bottom: -7px;
    border-radius: 50%;
}




/* Light ------------------------------------ */

[data-montage-skin="light"] .montage-InputRange {
    border-color: hsla(0,0%,70%,1);
    background: hsl(0,0%,86%);
    box-shadow: inset 0 1px 2px hsla(0,0%,0%,.1), 0 1px 0 hsla(0,0%,100%,.6);
}

[data-montage-skin="light"] .montage-InputRange-thumb {
    border-color: hsla(0,0%,70%,1);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,98%), hsl(0,0%,84%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8), 0 1px 2px 0px hsla(0,0%,0%,.1), 0 7px 6px -3px hsla(0,0%,0%,.15);
}

[data-montage-skin="light"] .montage-InputRange-thumb:active {
    border-color: hsla(0,0%,65%,1);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,96%), hsl(0,0%,83%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8), 0 1px 2px 0px hsla(0,0%,0%,.2), 0 6px 6px -3px hsla(0,0%,0%,.1);
}


/* Dark ------------------------------------ */

[data-montage-skin="dark"] .montage-InputRange {
    border-color: hsl(0,0%,15%);
    background: hsl(0,0%,22%);
    box-shadow: inset 0 1px 2px hsla(0,0%,0%,.25), 0 1px 0 hsla(0,0%,100%,.1);
}

[data-montage-skin="dark"] .montage-InputRange-thumb {
    border-color: hsl(0,0%,16%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,36%), hsl(0,0%,24%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.1), 0 1px 2px 0px hsla(0,0%,0%,.15), 0 7px 6px -3px hsla(0,0%,0%,.25);
}

[data-montage-skin="dark"] .montage-InputRange-thumb:active {
    border-color: hsl(0,0%,12%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,34%), hsl(0,0%,23%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.1), 0 1px 2px 0px hsla(0,0%,0%,.2), 0 7px 6px -3px hsla(0,0%,0%,.15);
}
