/* Controls ------------------------------------ */

.digit-VideoControl {
    display: -webkit-box;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0px;
    right: 0px;
    bottom: 0;
    font-size: 30px;
    box-sizing: border-box;
    background-color: hsla(0,0%,0%,.5);
    opacity: 0;
    -webkit-transform: translate3d(0,20px,0);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.66, .12, .88, .50),
                        opacity .2s cubic-bezier(.66, .12, .88, .50);
}



/* Buttons ------------------------------------ */

.digit-VideoControl-button-play,
.digit-VideoControl-button-fullScreen {
    display: block;
    position: relative;
    margin: 0;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border: none;
    font-size: inherit;
    text-align: center;
    color: hsl(0,0%,90%);
    background-color: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.digit-VideoControl-button-play:before,
.digit-VideoControl-button-fullScreen:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    line-height: inherit;
    text-align: center;
}

.digit-VideoControl-button-play:active,
.digit-VideoControl-button-fullScreen:active {
    background-color: hsla(0,0%,100%,.1);
}


/* Light ------------------------------------ */

[data-montage-skin="light"] .digit-VideoControl {
    background: -webkit-linear-gradient(top, hsla(0,0%,100%,.96), hsla(0,0%,90%,.90) );
}

[data-montage-skin="light"] .digit-VideoControl-button-play,
[data-montage-skin="light"] .digit-VideoControl-button-fullScreen {
    color: hsla(0,0%,0%,.6);
    text-shadow: 0 1px hsla(0,0%,100%,1);
}
[data-montage-skin="light"] .digit-VideoControl-button-play:active {
    background: -webkit-linear-gradient(left, hsla(0,0%,0%,.1), hsla(0,0%,0%,.1), hsla(0,0%,0%,0) );
}
[data-montage-skin="light"] .digit-VideoControl-button-fullScreen:active {
    background: -webkit-linear-gradient(right, hsla(0,0%,0%,.1), hsla(0,0%,0%,.1), hsla(0,0%,0%,0) );
}




/* Dark ------------------------------------ */

[data-montage-skin="dark"] .digit-VideoControl {
    background: -webkit-linear-gradient(top, hsla(0,0%,24%,.92), hsla(0,0%,15%,1) );
}

[data-montage-skin="dark"] .digit-VideoControl-button-play,
[data-montage-skin="dark"] .digit-VideoControl-button-fullScreen {
    color: hsla(0,0%,100%,.7);
    text-shadow: 0 1px hsla(0,0%,0%,.2);
}
[data-montage-skin="dark"] .digit-VideoControl-button-play:active {
    background: -webkit-linear-gradient(left, hsla(0,0%,100%,.1), hsla(0,0%,100%,.1), hsla(0,0%,100%,0) );
}
[data-montage-skin="dark"] .digit-VideoControl-button-fullScreen:active {
    background: -webkit-linear-gradient(right, hsla(0,0%,100%,.1), hsla(0,0%,100%,.1), hsla(0,0%,100%,0) );
}
