.digit-SplitView {
    display: -webkit-box;
    background-color: hsl(0,0%,75%);
}

.digit-SplitView-master {
    width: 30%;
    background-color: hsl(0,0%,85%);
}

.digit-SplitView-detail {
    -webkit-box-flex: 1;
    background-color: hsl(0,0%,95%);
}




/* Light ------------------------------------ */




/* Dark ------------------------------------ */
