.digit-Audio {
    position: relative;
    width: 320px;
    margin: 0;
    border-radius: 3px;
}


/* File (the actual Audio file) ------------------------------------ */

.digit-Audio-file {
    display: none;
}


/* Controls ------------------------------------ */

.digit-Audio-controls {
    display: -webkit-box;
    margin: 0;
    padding: 0;
    left: 0px;
    right: 0px;
    bottom: 0;
    font-size: 30px;
    box-sizing: border-box;
    border-radius: inherit;
    background-color: hsla(0,0%,0%,.2);
}

.digit-Audio-controls-poster {
    position: relative;
    width: 2em;
    height: 2em;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    background: url(poster.jpg) no-repeat center;
    background-size: cover;
}


/* Buttons ------------------------------------ */

.digit-Audio-controls-button-play {
    display: block;
    position: relative;
    margin: 0;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border: none;
    font-size: inherit;
    text-align: center;
    color: hsl(0,0%,90%);
    background-color: transparent;
    cursor: pointer;
}

.digit-Audio-controls-button-play:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    line-height: inherit;
    text-align: center;
}

.digit-Audio-controls-button-play:active {
    background-color: hsla(0,0%,100%,.1);
}


/* Track ------------------------------------ */

.digit-Audio-controls-track {
    -webkit-box-flex: 1;
    margin-right: 24px;
    position: relative;
    display: -webkit-box;
    -webkit-box-align: center;
    height: 2em;
}


/* Timeline ------------------------------------ */

.digit-Audio-controls-track-timeline {
    -webkit-box-flex: 1;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    height: 6px;
    border-radius: 10px;
    background-color: hsla(0,0%,100%,.2);
    -webkit-transition: -webkit-transform .1s;
}

.digit-Audio-controls-track-timeline-progress {
    background-color: hsla(0,0%,85%,.8);
    height: inherit;
    border-radius: inherit;
    -webkit-transform: translateX(-67%);
}

.digit-Audio-controls-track-thumb {
    position: absolute;
    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 0 .6em;
    height: 2em;
    line-height: 2em;
    top: 50%;
    left: 22%;
    font-size: 12px;
    border-radius: 1em;
    -webkit-font-smoothing: antialiased;
    color: hsla(0,0%,0%,.7);
    background-color: hsl(0,0%,90%);
    -webkit-transform: translateY(-1em);
    -webkit-transition: -webkit-transform .3s cubic-bezier(.44, .14, .08, .97);
}

.digit-Audio-controls-track:active .digit-Audio-controls-track-thumb {
    -webkit-transform: translateY(-4.2em);
    -webkit-transition-duration: .15s;
    -webkit-transition-timing-function: cubic-bezier(.04, .18, .14, .98);
}

.digit-Audio-controls-track-thumb:before {
    content: "";
    opacity: 0;
    position: absolute;
    left: 50%;
    width: 10px;
    height: 10px;
    background: -webkit-linear-gradient(45deg, hsla(0,0%,90%,1) 50%, hsla(0,0%,0%,0) 50% );
    -webkit-transform: translate(-5px, 1.5em) rotate(-45deg);
}

.digit-Audio-controls-track:active .digit-Audio-controls-track-thumb:before {
    opacity: 1;
}



/* Skins ------------------------------------ */

[data-montage-skin="light"] .digit-Audio-controls-poster:before,
[data-montage-skin="dark"] .digit-Audio-controls-poster:before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border-radius: inherit;
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.2);
    background: -webkit-linear-gradient(-45deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.1) 50%, hsla(0,0%,100%,0) 50% );
}



/* Light ------------------------------------ */

[data-montage-skin="light"] .digit-Audio-controls {
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,1), 0 1px 2px hsla(0,0%,0%,.15);
    background: -webkit-linear-gradient(top, hsla(0,0%,100%,.96), hsla(0,0%,90%,.90) );
}

[data-montage-skin="light"] .digit-Audio-controls-button-play {
    color: hsla(0,0%,0%,.6);
    text-shadow: 0 1px hsla(0,0%,100%,1);
}
[data-montage-skin="light"] .digit-Audio-controls-button-play:active {
    background: -webkit-linear-gradient(left, hsla(0,0%,0%,.1), hsla(0,0%,0%,.1), hsla(0,0%,0%,0) );
}

[data-montage-skin="light"] .digit-Audio-controls-track-timeline {
    background-color: hsla(0,0%,0%,.1);
    box-shadow: inset 0 1px 1px hsla(0,0%,0%,.15), 0 1px 0 hsla(0,0%,100%,.5);
}

[data-montage-skin="light"] .digit-Audio-controls-track-timeline-progress {
    background-color: hsla(0,0%,0%,.5);
}

[data-montage-skin="light"] .digit-Audio-controls-track-thumb {
    color: hsl(0,0%,75%);
    text-shadow: 0 1px 0 hsla(0,0%,0%,.2);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,36%), hsl(0,0%,24%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.1), 0 1px 2px 0px hsla(0,0%,0%,.15), 0 7px 6px -3px hsla(0,0%,0%,.25);
}

[data-montage-skin="light"] .digit-Audio-controls-track-thumb:before {
    background: -webkit-linear-gradient(45deg, hsla(0,0%,24%,1) 50%, hsla(0,0%,240%,0) 50% );
    box-shadow: -1px 1px 2px hsla(0,0%,0%,.2);
}




/* Dark ------------------------------------ */


[data-montage-skin="dark"] .digit-Audio-controls {
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.1), 0 1px 2px hsla(0,0%,0%,.2);
    background: -webkit-linear-gradient(top, hsla(0,0%,24%,.92), hsla(0,0%,15%,1) );
}

[data-montage-skin="dark"] .digit-Audio-controls-button-play {
    color: hsla(0,0%,100%,.7);
    text-shadow: 0 1px hsla(0,0%,0%,.2);
}
[data-montage-skin="dark"] .digit-Audio-controls-button-play:active {
    background: -webkit-linear-gradient(left, hsla(0,0%,100%,.1), hsla(0,0%,100%,.1), hsla(0,0%,100%,0) );
}

[data-montage-skin="dark"] .digit-Audio-controls-track-timeline {
    background-color: hsla(0,0%,0%,.1);
    box-shadow: inset 0 1px 1px hsla(0,0%,0%,.15), 0 1px 0 hsla(0,0%,100%,.15);
}

[data-montage-skin="dark"] .digit-Audio-controls-track-timeline-progress {
    background-color: hsla(0,0%,100%,.7);
}

[data-montage-skin="dark"] .digit-Audio-controls-track-thumb {
    color: hsl(0,0%,40%);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.3);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,98%), hsl(0,0%,84%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8), 0 1px 2px 0px hsla(0,0%,0%,.1), 0 7px 6px -3px hsla(0,0%,0%,.15);
}
[data-montage-skin="dark"] .digit-Audio-controls-track-thumb:before {
    background: -webkit-linear-gradient(45deg, hsla(0,0%,84%,1) 50%, hsla(0,0%,240%,0) 50% );
    box-shadow: -2px 2px 2px hsla(0,0%,0%,.3);
}
