.digit-ButtonGroup {
    padding-left: 5px; /* Add the negative margin back */
}

.digit-ButtonGroup > .digit-Button {
    margin: 0;
    border-radius: 0;
    margin-left: -5px; /* Remove the space inbetween */
}

.digit-ButtonGroup > .digit-Button:first-child {
    /border-radius: 3px 0 0 3px;
}

.digit-ButtonGroup > .digit-Button:last-child {
    /border-radius: 0 3px 3px 0;
}


/* Style for Touch */

.digit-ButtonGroup {
    display: inline-block;
}

.digit-ButtonGroup > .digit-Button:first-child {
    border-radius: 24px 0 0 24px;
}

.digit-ButtonGroup > .digit-Button:last-child {
    border-radius: 0 24px 24px 0;
}
