.digit-Slider {
    display: inline-block;
    box-sizing: border-box;
    width: 150px;
    height: 10px;
    border-radius: 3px;
    border: 1px solid #b3b3b3;
    background-color: #d9d9d9;
    outline: none;
    padding: 0 26px 0 0;
}

.digit-Slider.montage-Slider--vertical {
    width: 10px;
    height: 150px;
    margin: 0 10px;
    padding: 0 0 26px 0;
}

/* Thumb ------------------------------------ */

.digit-Slider-thumb {
    position: relative;
    font-size: inherit;
    box-sizing: border-box;
    border-radius: 14px;
    width: 28px;
    height: 28px;
    border: 1px solid #b3b3b3;
    background-color: #f2f2f2;
    cursor: pointer;
    margin: -10px 0 0 -1px;
}

.montage-Slider--vertical .digit-Slider-thumb {
    margin: -1px 0 0 -10px;
}

.digit-Slider-thumb:after {
    /* Extra space to increase touch area */
    position: absolute;
    content: "";
    top: -16px;
    left: -16px;
    bottom: -16px;
    right: -16px;
}


/* States ------------------------------------ */

.montage-Slider--active .digit-Slider-thumb {
    background-color: #e5e5e5;
}

.digit-Slider-thumb:focus {
    border-color: #7f7f7f;
}


/* Light ------------------------------------ */

[data-montage-skin="light"] .digit-Slider {
    border-color: hsla(0,0%,70%,1);
    background: hsl(0,0%,86%);
    box-shadow: inset 0 1px 2px hsla(0,0%,0%,.1), 0 1px 0 hsla(0,0%,100%,.6);

    -webkit-transform: translate3d(0px,0px,0px);
    -moz-transform: translate3d(0px,0px,0px);
    -ms-transform: translate3d(0px,0px,0px);
    transform: translate3d(0px,0px,0px);
}

[data-montage-skin="light"] .digit-Slider-thumb {
    border-color: hsla(0,0%,70%,1);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,98%), hsl(0,0%,84%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8), 0 1px 2px 0px hsla(0,0%,0%,.1), 0 7px 6px -3px hsla(0,0%,0%,.15);
}

[data-montage-skin="light"] .montage-Slider--active .digit-Slider-thumb {
    border-color: hsla(0,0%,65%,1);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,96%), hsl(0,0%,83%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8), 0 1px 2px 0px hsla(0,0%,0%,.2), 0 6px 6px -3px hsla(0,0%,0%,.1);
}


/* Dark ------------------------------------ */

[data-montage-skin="dark"] .digit-Slider {
    border-color: hsl(0,0%,15%);
    background: hsl(0,0%,22%);
    box-shadow: inset 0 1px 2px hsla(0,0%,0%,.25), 0 1px 0 hsla(0,0%,100%,.1);
}

[data-montage-skin="dark"] .digit-Slider-thumb {
    border-color: hsl(0,0%,16%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,36%), hsl(0,0%,24%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.1), 0 1px 2px 0px hsla(0,0%,0%,.15), 0 7px 6px -3px hsla(0,0%,0%,.25);
}

[data-montage-skin="dark"] .montage-Slider--active .digit-Slider-thumb {
    border-color: hsl(0,0%,12%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,34%), hsl(0,0%,23%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.1), 0 1px 2px 0px hsla(0,0%,0%,.2), 0 7px 6px -3px hsla(0,0%,0%,.15);
}
