.digit-Slider {
    outline: none;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 150px;
    height: 10px;
    border-radius: 3px;
    border: 1px solid #b3b3b3;
    background-color: #d9d9d9;
    outline: none;
}

.digit-Slider-thumbTrack {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 26px; /*width of thumb - slider border*/
    bottom: 0px;

    /* avoid the thumb track to be draggable when outside the slider component */
    visibility: hidden;
}

.digit-Slider-thumb {
    position: absolute;
    font-size: inherit;
    box-sizing: border-box;
    margin: -14px 0 0 -1px;
    border-radius: 14px;
    width: 28px;
    height: 28px;
    left: 0;
    top: 50%;
    border: 1px solid #b3b3b3;
    background-color: #f2f2f2;
    cursor: pointer;

    /* overrides the visibility set in the thumbTrack */
    visibility: visible;
}


.digit-Slider-thumb:before {
    content: "";
    position: absolute;
    /* Makes the touch target a bit bigger.*/
    top: -7px;
    left: -7px;
    right: -7px;
    bottom: -7px;
    border-radius: 50%;
}

/* States */
.digit-Slider-thumb:active {
    background-color: #e5e5e5;
}

.digit-Slider-thumb:focus {
    border-color: #7f7f7f;
}


/* Light ------------------------------------ */

[data-montage-skin="light"] .digit-Slider {
    border-color: hsla(0,0%,70%,1);
    background: hsl(0,0%,86%);
    box-shadow: inset 0 1px 2px hsla(0,0%,0%,.1), 0 1px 0 hsla(0,0%,100%,.6);

    -webkit-transform: translate3d(0px,0px,0px);
    -moz-transform: translate3d(0px,0px,0px);
    -ms-transform: translate3d(0px,0px,0px);
    transform: translate3d(0px,0px,0px);
}

[data-montage-skin="light"] .digit-Slider-thumb {
    border-color: hsla(0,0%,70%,1);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,98%), hsl(0,0%,84%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8), 0 1px 2px 0px hsla(0,0%,0%,.1), 0 7px 6px -3px hsla(0,0%,0%,.15);
}

[data-montage-skin="light"] .digit-Slider-thumb:active {
    border-color: hsla(0,0%,65%,1);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,96%), hsl(0,0%,83%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8), 0 1px 2px 0px hsla(0,0%,0%,.2), 0 6px 6px -3px hsla(0,0%,0%,.1);
}


/* Dark ------------------------------------ */

[data-montage-skin="dark"] .digit-Slider {
    border-color: hsl(0,0%,15%);
    background: hsl(0,0%,22%);
    box-shadow: inset 0 1px 2px hsla(0,0%,0%,.25), 0 1px 0 hsla(0,0%,100%,.1);
}

[data-montage-skin="dark"] .digit-Slider-thumb {
    border-color: hsl(0,0%,16%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,36%), hsl(0,0%,24%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.1), 0 1px 2px 0px hsla(0,0%,0%,.15), 0 7px 6px -3px hsla(0,0%,0%,.25);
}

[data-montage-skin="dark"] .digit-Slider-thumb:active {
    border-color: hsl(0,0%,12%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,34%), hsl(0,0%,23%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.1), 0 1px 2px 0px hsla(0,0%,0%,.2), 0 7px 6px -3px hsla(0,0%,0%,.15);
}
