.digit-Slider {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 10em;
    height: .625em;
    border-radius: .25em;
    border: 1px solid;
    outline: none;
    padding-right: 1.75em; /* Fallback for Android Browser */
    padding-right: -webkit-calc(1.75em - 2px); /* Thumb size - 2px (borders) */
    padding-right:         calc(1.75em - 2px); /* Thumb size - 2px (borders) */
}


/* Vertical --------------------- */

.digit-Slider.montage-Slider--vertical {
    width: .625em;
    height: 10em;
    margin: 0 .625em;
    padding-right: 0;
    padding-bottom: 1.75em; /* Fallback for Android Browser */
    padding-bottom: -webkit-calc(1.75em - 2px); /* Thumb size - 2px (borders) */
    padding-bottom:         calc(1.75em - 2px); /* Thumb size - 2px (borders) */
}


/* Thumb --------------------- */

.digit-Slider-thumb {
    position: relative;
    font-size: inherit;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 1.75em;
    height: 1.75em;
    margin: -.625em 0 0 -1px;
    border-radius: .875em;
    border: 1px solid;
    background-color: currentColor;
    cursor: pointer;
}

.montage-Slider--vertical .digit-Slider-thumb {
    margin: -1px 0 0 -.625em;
}

.digit-Slider-thumb:after {
    /* Extra space to increase touch area */
    position: absolute;
    content: "";
    top: -16px;
    left: -16px;
    bottom: -16px;
    right: -16px;
}



/* Wireframe ---------------------------------------------------------- */

[data-montage-skin="wireframe"] .digit-Slider {
    border-color: #b3b3b3;
    background-color: #d9d9d9;
}

[data-montage-skin="wireframe"] .digit-Slider-thumb {
    border-color: #b3b3b3;
    background-color: #f2f2f2;
}

[data-montage-skin="wireframe"] .montage-Slider--active .digit-Slider-thumb {
    background-color: #e5e5e5;
}



/* Light ---------------------------------------------------------- */

[data-montage-skin="light"] .digit-Slider {
    border-color: hsla(0,0%,70%,1);
    background-color: hsl(0,0%,86%);
    box-shadow: inset 0 1px 2px hsla(0,0%,0%,.1), 0 1px 0 hsla(0,0%,100%,.6);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

[data-montage-skin="light"] .digit-Slider-thumb {
    border-color: hsla(0,0%,70%,1);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,98%), hsl(0,0%,84%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8), 0 1px 2px 0px hsla(0,0%,0%,.1), 0 7px 6px -3px hsla(0,0%,0%,.15);
}

[data-montage-skin="light"] .montage-Slider--active .digit-Slider-thumb {
    border-color: hsla(0,0%,65%,1);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,96%), hsl(0,0%,83%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8), 0 1px 2px 0px hsla(0,0%,0%,.2), 0 6px 6px -3px hsla(0,0%,0%,.1);
}



/* Dark ---------------------------------------------------------- */

[data-montage-skin="dark"] .digit-Slider {
    border-color: hsl(0,0%,15%);
    background-color: hsl(0,0%,22%);
    box-shadow: inset 0 1px 2px hsla(0,0%,0%,.25), 0 1px 0 hsla(0,0%,100%,.1);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

[data-montage-skin="dark"] .digit-Slider-thumb {
    border-color: hsl(0,0%,16%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,36%), hsl(0,0%,24%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.1), 0 1px 2px 0px hsla(0,0%,0%,.15), 0 7px 6px -3px hsla(0,0%,0%,.25);
}

[data-montage-skin="dark"] .montage-Slider--active .digit-Slider-thumb {
    border-color: hsl(0,0%,12%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,34%), hsl(0,0%,23%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.1), 0 1px 2px 0px hsla(0,0%,0%,.2), 0 7px 6px -3px hsla(0,0%,0%,.15);
}
