.digit-Title {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    line-height: 1.5;
}



/* Wireframe ---------------------------------------------------------- */



/* Light ---------------------------------------------------------- */

[data-montage-skin="light"] .digit-Title {
    color: hsl(0,0%,40%);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.8);
}



/* Dark ---------------------------------------------------------- */

[data-montage-skin="dark"] .digit-Title {
    color: hsl(0,0%,70%);
}
