.digit-BigList-flow {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.digit-BigList {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 16px;
    color: hsla(0,0%,0%,.5);
    list-style: none;
}

.digit-BigList-flow .montage-Flow-Repetition > div {
    left: 50%;
    right: -50%;
    width: auto;
}
