@font-face {
    font-family: 'entypo';
    src:url('fonts/entypo.eot');
    src:url('fonts/entypo.eot?#iefix') format('embedded-opentype'),
        url('fonts/entypo.svg#entypo') format('svg'),
        url('fonts/entypo.woff') format('woff'),
        url('fonts/entypo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/*[data-icon]:before {
    font-family: 'entypo';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}*/

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-play:before, .icon-pause:before, .icon-cw:before, .icon-ccw:before, .icon-arrow-left:before, .icon-arrow-right:before, .icon-resize-enlarge:before, .icon-resize-shrink:before, .icon-volume:before, .icon-sound:before, .icon-mute:before, .icon-ellipsis:before,

.digit-Video-cover-button:before,
.digit-VideoControl-button-play:before,
.digit-VideoControl-button-fullScreen:before

{
    font-family: 'entypo';
    speak: none;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

.digit-Video-cover-button:before,
.digit-VideoControl-button-play:before,
.icon-play:before {
    content: "\e101";
}
.digit-VideoControl--playing .digit-VideoControl-button-play:before,
.icon-pause:before {
    content: "\e102";
}
.icon-cw:before {
    content: "\e103";
}
.icon-ccw:before {
    content: "\e104";
}
.icon-arrow-left:before {
    content: "\e105";
}
.icon-arrow-right:before {
    content: "\e106";
}

.digit-VideoControl-button-fullScreen:before,
.icon-resize-enlarge:before {
    content: "\e107";
}
.icon-resize-shrink:before {
    content: "\e108";
}
.icon-volume:before {
    content: "\e109";
}
.icon-sound:before {
    content: "\e10a";
}
.icon-mute:before {
    content: "\e10b";
}
.icon-ellipsis:before {
    content: "\e10c";
}
