
/*  TODO: Add a dark background cover + Show/Hide */

.digit-Modal {
    margin: 20px auto;
    max-width: 300px;
    font-size: 16px;
    border-radius: 6px;
    background-color: hsl(0,0%,96%);
    //opacity: 0;
    //-webkit-transition: -webkit-transform .24s cubic-bezier(0.38,0.04,0.81,0.29), opacity .24s cubic-bezier(0.38,0.04,0.81,0.29);
    //-webkit-transform: scale(.9);
}

.digit-Modal--show {
    opacity: 1;
    -webkit-transform: scale(1);
    -webkit-transition-timing-function: cubic-bezier(0.23,0.21,0.00,1.00);
}

.digit-Modal-content {
    padding: 10px;
    text-align: center;
}


.digit-Modal-header,
.digit-Modal-footer {
    padding: 10px;
    background-color: hsl(0,0%,90%);
}

.digit-Modal-header {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid hsla(0,0%,0%,.06);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.digit-Modal-footer {
    text-align: right;
    border-top: 1px solid hsla(0,0%,0%,.06);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.digit-Button.digit-Modal-button--cancel {
    color: hsl(0,0%,60%);
    border-color: hsl(0,0%,80%);
    background-color: transparent;
}


/* Light ------------------------------------ */


[data-montage-skin="light"] .digit-Modal {
    color: hsl(0,0%,40%);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.4);
    background: hsl(0,0%,90%);
}

[data-montage-skin="light"] .digit-Modal-header,
[data-montage-skin="light"] .digit-Modal-footer {
    background-image: -webkit-linear-gradient(top, hsl(0,0%,96%), hsl(0,0%,92%) );
}

[data-montage-skin="light"] .digit-Modal-header {
    border-bottom: 1px solid hsla(0,0%,0%,.12);
}

[data-montage-skin="light"] .digit-Button.digit-Modal-button--cancel {
    color: hsl(0,0%,60%);
    border-color: hsl(0,0%,86%);
    background: transparent;
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.2), inset 0 -1px 1px hsla(0,0%,0%,.04), 0 1px 0 hsla(0,0%,100%,.6);
}


/* Dark ------------------------------------ */

[data-montage-skin="dark"] .digit-Modal {
    background: hsl(0,0%,20%);
}

[data-montage-skin="dark"] .digit-Modal-content {
    color: hsl(0,0%,40%);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.4);
    background: hsl(0,0%,90%);
}

[data-montage-skin="dark"] .digit-Modal-header,
[data-montage-skin="dark"] .digit-Modal-footer {
    background-image: -webkit-linear-gradient(top, hsl(0,0%,26%), hsl(0,0%,20%) );
}

[data-montage-skin="dark"] .digit-Modal-header {
    color: hsl(0,0%,70%);
    text-shadow: none;
    border-bottom: 1px solid hsla(0,0%,100%,.9);
}

[data-montage-skin="dark"] .digit-Button.digit-Modal-button--cancel {
    color: hsl(0,0%,50%);
    border-color: hsl(0,0%,16%);
    background: transparent;
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.06), inset 0 -1px 1px hsla(0,0%,0%,.04), 0 1px 0 hsla(0,0%,100%,.1);
}
