
/*  TODO: More notification types, Show/Hide */

.montage-Notification {
    margin: 0 auto;
    max-width: 300px;
    font-size: 16px;
    text-align: left;
    border-radius: 0 0 6px 6px;
    background-color: hsl(0,0%,96%);
    //-webkit-transform-origin-y: top;
    //-webkit-transform: perspective(500) rotateX(90deg) translate3d(0,-100%,0);
    //-webkit-transition: -webkit-transform .24s cubic-bezier(0.38,0.04,0.81,0.29);
}

.montage-Notification--show {
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition-timing-function: cubic-bezier(0.23,0.21,0.00,1.00);
}

.montage-Notification-icon {
    position: absolute;
    width: 36px;
    height: 36px;
    border-bottom-left-radius: inherit;
    background: hsla(152,70%,45%,1) url(check.svg) no-repeat center;
    background-size: contain;
    vertical-align: middle;
}

.montage-Notification-message {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px 0 46px;
    line-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



/* Light ------------------------------------ */


[data-montage-skin="light"] .montage-Notification {
    color: hsl(0,0%,40%);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.4);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,96%), hsl(0,0%,92%) );
    box-shadow: 0 1px 2px hsla(0,0%,0%,.25);
}


/* Dark ------------------------------------ */

[data-montage-skin="dark"] .montage-Notification {
    color: hsl(0,0%,70%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,26%), hsl(0,0%,20%) );
    box-shadow: 0 1px 2px hsla(0,0%,0%,.4);
}
