@import url(http://fonts.googleapis.com/css?family=Inder);

html {
    height: 100%;
    color: #444;
    font: 13px/1.231 sans-serif;
    background-color: hsl(200,0%,90%);
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    
}

.Main {
    height: 100%;
    display: -webkit-box;
}