.digit-Badge {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    margin: .5em;
    padding: 0 .5em;
    min-width: 1.875em;
    line-height: 1.75em;
    font-weight: bold;
    border-radius: .25em;
    border: 1px solid;
}



/* Wireframe ---------------------------------------------------------- */

[data-montage-skin="wireframe"] .digit-Badge {
    color: #4D4D4D;
    border-color: #b3b3b3;
    background-color: #d9d9d9;
}



/* Light ---------------------------------------------------------- */

[data-montage-skin="light"] .digit-Badge {
    color: hsla(0,0%,0%,.6);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.4);
    border-color: hsla(0,0%,70%,1);
    background-color: hsl(0,0%,86%);
    box-shadow: inset 0 1px 2px hsla(0,0%,0%,.1), 0 1px 0 hsla(0,0%,100%,.6);
}



/* Dark ---------------------------------------------------------- */

[data-montage-skin="dark"] .digit-Badge {
    color: hsl(0,0%,80%);
    border-color: hsl(0,0%,15%);
    background-color: hsl(0,0%,22%);
    box-shadow: inset 0 1px 2px hsla(0,0%,0%,.25), 0 1px 0 hsla(0,0%,100%,.1);
}
