.digit-Badge {
    display: inline-block;
    margin: 10px;
    padding: 0 9px;
    line-height: 30px;
    min-width: 30px;
    border-radius: 3px;
    font-weight: bold;
    border: 1px solid #b3b3b3;
    background: #d9d9d9;
    vertical-align: middle;
    box-sizing: border-box;
    color: hsla(0,0%,0%,.7);
    font-size: 16px;
}


/* Light ------------------------------------ */

[data-montage-skin="light"] .digit-Badge {
    color: hsla(0,0%,0%,.6);
    border-color: hsla(0,0%,70%,1);
    background: hsl(0,0%,86%);
    box-shadow: inset 0 1px 2px hsla(0,0%,0%,.1), 0 1px 0 hsla(0,0%,100%,.6);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.4);
}


/* Dark ------------------------------------ */

[data-montage-skin="dark"] .digit-Badge {
    color: hsla(0,0%,100%,.7);
    border-color: hsl(0,0%,15%);
    background: hsl(0,0%,22%);
    box-shadow: inset 0 1px 2px hsla(0,0%,0%,.25), 0 1px 0 hsla(0,0%,100%,.1);
}
