.montage-Video {
   position: relative;
   width: 320px;
   height: 180px;
   margin: 0;
   background: hsl(0,0%,10%);
   overflow: hidden;
}


/* Frame (the actual video) ------------------------------------ */

.montage-Video-frame {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: top;
    -webkit-transition: -webkit-transform .2s cubic-bezier(.36, .12, .20, .92);
}


/* Cover (with the initial play button) ------------------------------------ */

.montage-Video--isPlaying .montage-Video-cover {
    display: none;
} 

.montage-Video-cover {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1);
    pointer-events: none;
}

.montage-Video-cover-button {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -.75em;
    border-radius: 2em 0 0 2em;    
    width: 2em;
    height: 1.6em;
    line-height: 1.6em;
    font-size: 40px;
    color: hsla(0,0%,100%,.9);
    border: none;
    background-color: hsla(0,0%,10%,.8);
}


/* Controls ------------------------------------ */

.montage-Video--showControls .montage-Video-controls {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition-duration: .2s;
    -webkit-transition-delay: 0;
    -webkit-transition-timing-function: cubic-bezier(.02, .40, .20, .96);
}

.montage-Video-controls {
    display: -webkit-box;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0px;
    right: 0px;
    bottom: 0;
    font-size: 30px;
    box-sizing: border-box;
    background-color: hsla(0,0%,0%,.5);
    opacity: 0;
    -webkit-transform: translate3d(0,20px,0);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.66, .12, .88, .50),
                        opacity .2s cubic-bezier(.66, .12, .88, .50);
}



/* Buttons ------------------------------------ */

.montage-Video-controls-button-play,
.montage-Video-controls-button-fullscreen {
    display: block;
    position: relative;
    margin: 0;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border: none;
    font-size: inherit;
    text-align: center;
    color: hsl(0,0%,90%);
    background-color: transparent;
    cursor: pointer;
}

.montage-Video-controls-button-play:before,
.montage-Video-controls-button-fullscreen:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    line-height: inherit;
    text-align: center;
}

.montage-Video-controls-button-play:active,
.montage-Video-controls-button-fullscreen:active {
    background-color: hsla(0,0%,100%,.1);
}


/* Track ------------------------------------ */

.montage-Video-controls-track {
    -webkit-box-flex: 1;
    position: relative;
    display: -webkit-box;
    -webkit-box-align: center;
    height: 2em;
}


/* Timeline ------------------------------------ */

.montage-Video-controls-track-timeline {
    -webkit-box-flex: 1;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    height: 6px;
    border-radius: 10px;
    background-color: hsla(0,0%,100%,.2);
    -webkit-transition: -webkit-transform .1s;
}

.montage-Video-controls-track-timeline-progress {
    background-color: hsla(0,0%,85%,.8);
    height: inherit;
    border-radius: inherit;
    -webkit-transform: translateX(-67%);
}

.montage-Video-controls-track-thumb {
    position: absolute;
    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 0 .6em;
    height: 2em;
    line-height: 2em;
    top: 50%;
    left: 22%;
    font-size: 12px;
    border-radius: 1em;
    -webkit-font-smoothing: antialiased;
    color: hsla(0,0%,0%,.7);
    background-color: hsl(0,0%,90%);
    -webkit-transform: translateY(-1em);
    -webkit-transition: -webkit-transform .3s cubic-bezier(.44, .14, .08, .97);
}

.montage-Video-controls-track:active .montage-Video-controls-track-thumb {    
    -webkit-transform: translateY(-4.2em);
    -webkit-transition-duration: .15s;
    -webkit-transition-timing-function: cubic-bezier(.04, .18, .14, .98);
}

.montage-Video-controls-track-thumb:before {
    content: "";
    opacity: 0;
    position: absolute;
    left: 50%;
    width: 10px;
    height: 10px;
    background: -webkit-linear-gradient(45deg, hsla(0,0%,90%,1) 50%, hsla(0,0%,0%,0) 50% );
    -webkit-transform: translate(-5px, 1.5em) rotate(-45deg);
}

.montage-Video-controls-track:active .montage-Video-controls-track-thumb:before {    
    opacity: 1;
}






/* Light ------------------------------------ */

[data-montage-skin="light"] .montage-Video-cover {
    background: -webkit-linear-gradient(-45deg, hsla(0,0%,100%,.05), hsla(0,0%,100%,.2) 50%, hsla(0,0%,100%,0) 50% );
}

[data-montage-skin="light"] .montage-Video-cover-button {
    color: hsla(0,0%,0%,.6);
    text-shadow: 0 1px hsla(0,0%,100%,1);
    background: -webkit-linear-gradient(top, hsla(0,0%,100%,.96), hsla(0,0%,90%,.90) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,1), 0 2px 3px hsla(0,0%,0%,.2);
}

[data-montage-skin="light"] .montage-Video-controls {
    background: -webkit-linear-gradient(top, hsla(0,0%,100%,.96), hsla(0,0%,90%,.90) );
}

[data-montage-skin="light"] .montage-Video-controls-button-play,
[data-montage-skin="light"] .montage-Video-controls-button-fullscreen {
    color: hsla(0,0%,0%,.6);
    text-shadow: 0 1px hsla(0,0%,100%,1);
}
[data-montage-skin="light"] .montage-Video-controls-button-play:active {
    background: -webkit-linear-gradient(left, hsla(0,0%,0%,.1), hsla(0,0%,0%,.1), hsla(0,0%,0%,0) );
}
[data-montage-skin="light"] .montage-Video-controls-button-fullscreen:active {
    background: -webkit-linear-gradient(right, hsla(0,0%,0%,.1), hsla(0,0%,0%,.1), hsla(0,0%,0%,0) );
}

[data-montage-skin="light"] .montage-Video-controls-track-timeline {
    background-color: hsla(0,0%,0%,.1);
    box-shadow: inset 0 1px 1px hsla(0,0%,0%,.15), 0 1px 0 hsla(0,0%,100%,.5);
}

[data-montage-skin="light"] .montage-Video-controls-track-timeline-progress {
    background-color: hsla(0,0%,0%,.5);
}

[data-montage-skin="light"] .montage-Video-controls-track-thumb {
    color: hsl(0,0%,75%);
    text-shadow: 0 1px 0 hsla(0,0%,0%,.2);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,36%), hsl(0,0%,24%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.1), 0 1px 2px 0px hsla(0,0%,0%,.15), 0 7px 6px -3px hsla(0,0%,0%,.25);
}

[data-montage-skin="light"] .montage-Video-controls-track-thumb:before {
    background: -webkit-linear-gradient(45deg, hsla(0,0%,24%,1) 50%, hsla(0,0%,240%,0) 50% );
    box-shadow: -1px 1px 2px hsla(0,0%,0%,.2);
}




/* Dark ------------------------------------ */

[data-montage-skin="dark"] .montage-Video-cover {
    background: -webkit-linear-gradient(-45deg, hsla(0,0%,100%,.05), hsla(0,0%,100%,.2) 50%, hsla(0,0%,100%,0) 50% );
}

[data-montage-skin="dark"] .montage-Video-cover-button {
    color: hsla(0,0%,100%,.7);
    text-shadow: 0 1px hsla(0,0%,0%,.2);
    background: -webkit-linear-gradient(top, hsla(0,0%,24%,.92), hsla(0,0%,15%,1) );
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15), 0 2px 3px hsla(0,0%,0%,.3);
}

[data-montage-skin="dark"] .montage-Video-controls {
    background: -webkit-linear-gradient(top, hsla(0,0%,24%,.92), hsla(0,0%,15%,1) );
}

[data-montage-skin="dark"] .montage-Video-controls-button-play,
[data-montage-skin="dark"] .montage-Video-controls-button-fullscreen {
    color: hsla(0,0%,100%,.7);
    text-shadow: 0 1px hsla(0,0%,0%,.2);
}
[data-montage-skin="dark"] .montage-Video-controls-button-play:active {
    background: -webkit-linear-gradient(left, hsla(0,0%,100%,.1), hsla(0,0%,100%,.1), hsla(0,0%,100%,0) );
}
[data-montage-skin="dark"] .montage-Video-controls-button-fullscreen:active {
    background: -webkit-linear-gradient(right, hsla(0,0%,100%,.1), hsla(0,0%,100%,.1), hsla(0,0%,100%,0) );
}

[data-montage-skin="dark"] .montage-Video-controls-track-timeline {
    background-color: hsla(0,0%,0%,.1);
    box-shadow: inset 0 1px 1px hsla(0,0%,0%,.15), 0 1px 0 hsla(0,0%,100%,.15);
}

[data-montage-skin="dark"] .montage-Video-controls-track-timeline-progress {
    background-color: hsla(0,0%,100%,.7);
}

[data-montage-skin="dark"] .montage-Video-controls-track-thumb {
    color: hsl(0,0%,40%);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.3);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,98%), hsl(0,0%,84%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8), 0 1px 2px 0px hsla(0,0%,0%,.1), 0 7px 6px -3px hsla(0,0%,0%,.15);
}
[data-montage-skin="dark"] .montage-Video-controls-track-thumb:before {
    background: -webkit-linear-gradient(45deg, hsla(0,0%,84%,1) 50%, hsla(0,0%,240%,0) 50% );
    box-shadow: -2px 2px 2px hsla(0,0%,0%,.3);
}