.digit-Map {
   position: relative;
   width: 200px;
   height: 120px;
   margin: 0;
   border-radius: 3px;
}

.digit-Map:before {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border-radius: inherit;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.15);
}

.digit-Map-img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.digit-Map-link {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background: hsla(0,0%,20%,.8) url(fullscreen.svg) no-repeat center;
}

.digit-Map-link:active {
    background-color: hsla(0,0%,20%,.6);
}

.digit-Map-link--show .digit-Map-link {
    display: block;
}




/* Light ------------------------------------ */

[data-montage-skin="light"] .digit-Map:before {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2), inset 0 1px 3px 2px hsla(0,0%,0%,.15), 0 1px 0 hsla(0,0%,100%,.6);
}


/* Dark ------------------------------------ */

[data-montage-skin="dark"] .digit-Map:before {
    box-shadow: inset 0 1px 3px 1px hsla(0,0%,0%,.3), 0 1px 0 hsla(0,0%,100%,.2);
}
