.digit-TextArea {
    outline: none;
    box-sizing: border-box;
    font-size: 100%; /* Override UA style. */
    width: 10em;
    height: 3.75em;
    padding: .5em;
    resize: vertical;
    color: inherit;
    border: 1px solid;
    border-radius: .25em;
    background-color: transparent;
    -webkit-appearance: none; /* Removes inner shadow on iOS. */
}

.digit-TextArea:focus {
    box-shadow: inset 0 0 0 1px;
}

.digit-TextArea.montage--disabled {
    opacity: .5;
    border-style: dashed;
    pointer-events: none;
}

.digit-TextArea::-webkit-input-placeholder { color: inherit; opacity: .5; }
.digit-TextArea::-moz-placeholder { color: inherit; opacity: .5; }
.digit-TextArea:-ms-input-placeholder { color: inherit; opacity: .5; }


/* Light ------------------------------------ */

[data-montage-skin="light"] .digit-TextArea {
    color: hsla(0,0%,0%,.7);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.5);
    border-color: hsl(0,0%,80%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,96%), hsl(0,0%,98%) );
    box-shadow: inset 0 1px 2px hsla(0,0%,0%,.05), 0 1px 0 hsla(0,0%,100%,.6);
}

[data-montage-skin="light"] .digit-TextArea:focus {
    border-color: hsla(0,0%,70%,1);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,92%), hsl(0,0%,94%) );
    box-shadow: inset 0 1px 3px hsla(0,0%,0%,.1), 0 1px 0 hsla(0,0%,100%,.6);
}


/* Dark ------------------------------------ */

[data-montage-skin="dark"] .digit-TextArea {
    color: hsla(0,0%,100%,.5);
    border-color: hsl(0,0%,15%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,28%), hsl(0,0%,30%) );
    box-shadow: inset 0 1px 2px hsla(0,0%,0%,.1), 0 1px 0 hsla(0,0%,100%,.1);
}

[data-montage-skin="dark"] .digit-TextArea:focus {
    color: hsla(0,0%,100%,.7);
    border-color: hsl(0,0%,15%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,26%), hsl(0,0%,28%) );
    box-shadow: inset 0 1px 3px hsla(0,0%,0%,.3), 0 1px 0 hsla(0,0%,100%,.1);
}

[data-montage-skin="dark"] .digit-TextArea::-webkit-input-placeholder { color: hsla(0,0%,100%,.3); -webkit-font-smoothing: antialiased; }
[data-montage-skin="dark"] .digit-TextArea::-moz-placeholder { color: hsla(0,0%,100%,.3); }
[data-montage-skin="dark"] .digit-TextArea:-ms-input-placeholder { color: hsla(0,0%,100%,.3); }
