.digit-TextArea {
    outline: none;
    box-sizing: border-box;
    font-size: 100%; /* Override UA style. */
    width: 10em;
    height: 3.75em;
    padding: .5em;
    resize: vertical;
    color: inherit;
    border: 1px solid;
    border-radius: .25em;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none; /* Removes inner shadow on iOS. */
}


/* States --------------------- */

.digit-TextArea:focus {
    box-shadow: inset 0 0 0 1px;
}

.digit-TextArea.montage--disabled {
    opacity: .5;
    border-style: dashed;
    pointer-events: none;
}


/* Placeholder --------------------- */

.digit-TextArea::-webkit-input-placeholder { color: inherit; opacity: .5; }
.digit-TextArea::-moz-placeholder { color: inherit; opacity: .5; }
.digit-TextArea:-ms-input-placeholder { color: inherit; opacity: .5; }



/* Wireframe ---------------------------------------------------------- */

[data-montage-skin="wireframe"] .digit-TextArea {
    color: #4D4D4D;
    border-color: #b3b3b3;
    background-color: #fff;
}

[data-montage-skin="wireframe"] .digit-TextArea:focus {
    border-color: #7f7f7f;
    box-shadow: none;
}



/* Light ---------------------------------------------------------- */

[data-montage-skin="light"] .digit-TextArea {
    color: hsla(0,0%,0%,.7);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.5);
    border-color: hsl(0,0%,80%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,96%), hsl(0,0%,98%) );
    background-image: -moz-linear-gradient(top, hsl(0,0%,96%), hsl(0,0%,98%) );
    background-image: -ms-linear-gradient(top, hsl(0,0%,96%), hsl(0,0%,98%) );
    background-image: linear-gradient(top, hsl(0,0%,96%), hsl(0,0%,98%) );
    box-shadow: inset 0 1px 2px hsla(0,0%,0%,.05), 0 1px 0 hsla(0,0%,100%,.6);
}

[data-montage-skin="light"] .digit-TextArea:focus {
    border-color: hsla(0,0%,70%,1);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,92%), hsl(0,0%,94%) );
    background-image: -moz-linear-gradient(top, hsl(0,0%,92%), hsl(0,0%,94%) );
    background-image: -ms-linear-gradient(top, hsl(0,0%,92%), hsl(0,0%,94%) );
    background-image: linear-gradient(top, hsl(0,0%,92%), hsl(0,0%,94%) );
    box-shadow: inset 0 1px 3px hsla(0,0%,0%,.1), 0 1px 0 hsla(0,0%,100%,.6);
}



/* Dark ---------------------------------------------------------- */

[data-montage-skin="dark"] .digit-TextArea {
    color: hsl(0,0%,80%);
    text-shadow: 0 1px 0 hsla(0,0%,0%,.2);
    border-color: hsl(0,0%,15%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,28%), hsl(0,0%,30%) );
    background-image: -moz-linear-gradient(top, hsl(0,0%,28%), hsl(0,0%,30%) );
    background-image: -ms-linear-gradient(top, hsl(0,0%,28%), hsl(0,0%,30%) );
    background-image: linear-gradient(top, hsl(0,0%,28%), hsl(0,0%,30%) );
    box-shadow: inset 0 1px 2px hsla(0,0%,0%,.1), 0 1px 0 hsla(0,0%,100%,.1);
}

[data-montage-skin="dark"] .digit-TextArea:focus {
    color: hsl(0,0%,100%);
    border-color: hsl(0,0%,15%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,26%), hsl(0,0%,28%) );
    background-image: -moz-linear-gradient(top, hsl(0,0%,26%), hsl(0,0%,28%) );
    background-image: -ms-linear-gradient(top, hsl(0,0%,26%), hsl(0,0%,28%) );
    background-image: linear-gradient(top, hsl(0,0%,26%), hsl(0,0%,28%) );
    box-shadow: inset 0 1px 3px hsla(0,0%,0%,.3), 0 1px 0 hsla(0,0%,100%,.1);
}
