@font-face {
	font-family: 'entypo';
	src:url('fonts/entypo.eot');
	src:url('fonts/entypo.eot?#iefix') format('embedded-opentype'),
		url('fonts/entypo.svg#entypo') format('svg'),
		url('fonts/entypo.woff') format('woff'),
		url('fonts/entypo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'entypo';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

[data-icon="ellipsis"]:before { content: "\e000"; }
[data-icon="pictures"]:before { content: "\e001"; }
[data-icon="video"]:before    { content: "\e002"; }
[data-icon="music"]:before    { content: "\e003"; }
[data-icon="rocket"]:before   { content: "\e004"; }


/* Use the following CSS code if you want to have a class per icon */
/*
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'entypo';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-ellipsis:before { content: "\e000"; }
.icon-pictures:before { content: "\e001"; }
.icon-video:before { content: "\e002"; }
.icon-music:before { content: "\e003"; }
.icon-rocket:before { content: "\e004"; }
*/
