.digit-RadioButton {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    width: 1.5em;
    height: 1.5em;
    border-radius: 1em;
    border: 1px solid #b3b3b3;
    background: #f2f2f2;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.digit-RadioButton.montage--active {
    background-color: #e5e5e5;
}

.digit-RadioButton:focus {
    border-color: #7f7f7f;
}

.digit-RadioButton.montage-RadioButton--checked {
    background: #f2f2f2 url(radio.svg) no-repeat center;
}

.digit-RadioButton.montage--disabled {
    opacity: .5;
    border-style: dashed;
    pointer-events: none;
}


/* Style for Skins ------------------------------------ */

[data-montage-skin] .digit-RadioButton {
    position: relative;
}

[data-montage-skin] .digit-RadioButton.montage-RadioButton--checked:before {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}


/* Light ------------------------------------ */

[data-montage-skin="light"] .digit-RadioButton.montage-RadioButton--checked:before {
    background: url(radio.svg) no-repeat center;
}

[data-montage-skin="light"] .digit-RadioButton {
    border-color: hsl(0,0%,80%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,96%), hsl(0,0%,92%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8), inset 0 -1px 1px hsla(0,0%,0%,.04), 0 1px 0 hsla(0,0%,100%,.6);
}

[data-montage-skin="light"] .digit-RadioButton.montage--active,
[data-montage-skin="light"] .digit-RadioButton.montage-RadioButton--checked {
    border-color: hsla(0,0%,70%,1);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,90%), hsl(0,0%,86%) );
    box-shadow: inset 0 1px 3px hsla(0,0%,0%,.2), 0 1px 0 hsla(0,0%,100%,.6);
}


/* Dark ------------------------------------ */

[data-montage-skin="dark"] .digit-RadioButton.montage-RadioButton--checked:before {
    background: url(radio-dark.svg) no-repeat center;
}

[data-montage-skin="dark"] .digit-RadioButton {
    border-color: hsl(0,0%,15%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,30%), hsl(0,0%,24%) );
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.1), inset 0 -1px 1px hsla(0,0%,0%,.06), 0 1px 0 hsla(0,0%,100%,.1);
}

[data-montage-skin="dark"] .digit-RadioButton.montage--active,
[data-montage-skin="dark"] .digit-RadioButton.montage-RadioButton--checked {
    border-color: hsl(0,0%,15%);
    background-image: -webkit-linear-gradient(top, hsl(0,0%,20%), hsl(0,0%,16%) );
    box-shadow: inset 0 1px 3px hsla(0,0%,0%,.3), 0 1px 0 hsla(0,0%,100%,.1);
}
